@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Food Truck Tracker</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Locations</h2>
        <p>
            Click here to see what locations have been made, what trucks if any have are at each location, or create a new location.
        </p>
        <p><a class="btn btn-default" href="/Locations/Index"> Locations Home &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Trucks</h2>
        <p>Click here to see what Trucks have been made, and all the details behind each truck.</p>
        <p><a class="btn btn-default" href="/Truck/Index">Trucks Home &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Menu Items</h2>
        <p>Click here to see what food options are available.</p>
        <p><a class="btn btn-default" href="/MenuItem/Index">Menu Items Home &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Transactions</h2>
        <p>View Transactions for each truck or create a new one.</p>
        <p><a class="btn btn-default" href="/Transaction/Index">Transaction Home &raquo;</a></p>
    </div>
</div>